.hero_section {
  width: 1112px;
  background-position-x: 100px;
  background-repeat: no-repeat;
  .hero_section_inform {
    width: 520px;
    height: 350px;
    font-family: Poppins;
    padding-top: 150px;
    margin-bottom: 35px;
    .hero_section_button {
      background-color: #3456fe;
      border: none;
      width: 200px;
      height: 50px;
      color: #fff;
      margin-top: 35px;
    }
  }
}
